<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class = "row">
            <div class = "col-md-4 col-md-offset-4" style="padding-top: 10%">
                <form class="form-group" action = '' method = "POST">
                    <h2>Please login</h2>
                    <div>
                        <label for="username">Username</label>
                        <input name = "username" type="text" class="input-block-level"
                               id = "username" placeholder="Username">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input name = "password" type="password" id = "password"
                               class="input-block-level" placeholder="Password">
                    </div>
                    <div style="padding-left: 20px">
                        <label class="checkbox">
                            <input name = "remember_me" type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-large btn-primary" type="submit">Login</button>
                </form>
                <div>
                    <label>Do not have an account? </label>
                    <a href="/blog/signin/"><strong>Sign in</strong></a>
                </div>
            </div>
        </div>

    </div>
    <script src = "/static/js/bootstrap.js"></script>
</body>
</html>