<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <title>Sign in</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form class="form-group" action="" method="POST">
                    <div>
                        <h2>Please sign in</h2>
                        <label for="username">Username</label>
                        <input type="text" class="input-block-level"
                               id = "username" name = "username" placeholder="Username" />
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" class="input-block-level"
                               id = "password" name = "password" placeholder="Password" />
                    </div>
                    <div>
                        <label for="email">E-mail</label>
                        <input type="email" class="input-block-level"
                               id = "email" name = "email" placeholder="email" />
                    </div>
                    <div>
                        <label for="user_type">User Type</label>
                        <input type="text" class="input-block-level"
                               id = "user_type" name = "user_type" placeholder="user_type" />
                    </div>
                    <br>
                    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>